<h1>Atualize seu livro</h1>
<form action="/books/insertbook" method="post" class="form">
<div class="form-control">
    <label for="title">Título</label>
    <input type="text" name="title" value="{{book.title}}">    
</div>

<div class="form-control">
    <label for="nm_pages">Quantidade de páginas</label>
    <input type="text" name="nm_pages" values="{{book.title}}">
</div>

<div class="form-control">
    <input type="submit" value="Atualizar">
</div>

</form>
