*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-shadow: 3px 1px 1px pink ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: powderblue;
    text-align: center;
    padding: 3rem;
}