<h2>Página de membros</h2>
<a href="/">voltar</a>
<ul>
    {{!-- estrutura de repetição --}}
    {{!-- DOR, WHILE ou DO..While --}}
    {{#each items}} {{!--percorrer o array--}}
    <li>[] - {{this}}</li> {{!--"this" para identificar--}}
    {{/each}}
</ul>